<div class="container" 
fxFlex fxLayout="row" 
fxLayout.sm="column" 
fxLayout.xs="column"
fxLayoutAlign.sm="start center"
fxLayoutAlign.xs="start center"
fxLayoutAlign.gt-sm="center center"
fxLayoutWrap>

  <div fxFlex="100%" fxFlex.gt-sm="50%">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4 class="foot-header">Links</h4>
        <mat-list>
          <mat-list-item><a href="#" mat-button>Home</a></mat-list-item>
          <mat-list-item><a href="#" mat-button>About</a></mat-list-item>
          <mat-list-item><a href="#" mat-button>Menu</a></mat-list-item>
          <mat-list-item><a href="#" mat-button>Contact</a></mat-list-item>
        </mat-list>
      </div>

      <div fxFlex="50">
        <h4 class="foot-header">Address</h4>
        <address>
          Flat 88, 1st D main road <br>Jakkasandra Extension, Kormangala 1st Blk <br> Benguluru Karnataka-560034 <br>
          <i class="fa fa-phone"></i>: +91(846) 596 9122 <br>
          <i class="fa fa-fax"></i>: 857 8546 9532 <br>
          <i class="fa fa-envelope"></i>
          <a href="mailto:confusion@food.net"> confusion@food.net</a>
        </address>
      </div>
    </div>
  </div>

  <div fxFlex="100%" fxFlex.gt-sm="45%">
    <div style="text-align:center;">
      <a mat-icon-button href="www.googleplus.com" class="btn-google-plus"><i class="fa fa-google-plus"></i></a>
      <a mat-icon-button href="www.facebook.com" class="btn-facebook"><i class="fa fa-facebook"></i></a>
      <a mat-icon-button href="www.twitter.com" class="btn-twitter"><i class="fa fa-twitter"></i></a>
      <a mat-icon-button href="www.linkedin.com" class="btn-linkedin"><i class="fa fa-linkedin"></i></a>
      <a mat-icon-button href="www.youtube.com" class="btn-youtube"><i class="fa fa-youtube"></i></a>
      <a mat-icon-button href="www.gmail.com" class="btn-gmail"><i class="fa fa-envelope"></i></a>
    </div>
  </div>

  <div fxFlex="100" fxFlexAlign="center center">
    <div style="text-align:center">
      <p>&copy; copyright 2018 Ristorante Con Fusion</p>
    </div>
  </div>
</div>


