.toolbar{
	background-color:#3F51B5;
	color:#fff;
	box-shadow:0 3px 10px rgba(0, 0, 0, 0.466);
	height:fit-content;
	padding:12px 10px 12px 20px;
	z-index:1;
	position: fixed;
}
.container{
	margin: 20px;
	display: flex;
}