<div class="container "fxLayout="column" fxLayoutGap="10px">
  <div fxFlex>
    <div>
      <h3>Contact Us</h3>
      <hr>
    </div>
  </div>

  <div fxFlex >
    <h3 >Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start center">
      <div fxFlex="50" fxFlexOffset="20px">
        <h4>Our Address</h4>
        <address>
          Flat 88, 1st D main road <br>Jakkasandra Extension, Kormangala 1st Blk <br> Benguluru Karnataka-560034 <br>
          <i class="fa fa-phone"></i>: +91(846) 596 9122 <br>
          <i class="fa fa-fax"></i>: 857 8546 9532 <br>
          <i class="fa fa-envelope"></i>
          <a href="mailto:confusion@food.net"> confusion@food.net</a> <br>
          <a href="#" mat-raised-button><i class="fa fa-phone"></i> Call</a>&nbsp;
          <a href="http://www.skype.com/nani.darling2" mat-raised-button><i class="fa fa-skype"></i> Skype</a>&nbsp;
          <a href="mailto:confusion@food.net" mat-raised-button><i class="fa fa-envelope"></i> Mail</a>
        </address>
      </div>
      <div fxFlex="40">
        <h3>Shows our location in maps</h3>
      </div>
    </div>
  </div>
  <div fxFlex fxFlexOffset="20px" class="form-size">
      <h3>Send us your Feedback</h3>
  
      <form novalidate [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="firstName" placeholder="First Name" type="text" required>
            <mat-error *ngIf="contactForm.get('firstName').hasError('required') && contactForm.get('firstName').dirty">FirstName is required.</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="lastName" placeholder="Last Name" type="text" required>
            <mat-error *ngIf="contactForm.get('lastName').hasError('required') && contactForm.get('lastName').touched">LastName is required.</mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="half-width">
            <input matInput formControlName="telnum" placeholder="Tel. Number" type="tel" required>
            <mat-error *ngIf="contactForm.get('telnum').hasError('required') && contactForm.get('telnum').touched">Telephone is required.</mat-error>
          </mat-form-field>
          <mat-form-field class="half-width">
            <input matInput formControlName="email" placeholder="Email" type="email" required>
            <mat-error *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">Email is required.</mat-error>
          </mat-form-field>
        </p>
        <table class="form-size">
          <td>
            <mat-slide-toggle formControlName="agree" color="primary">May we contact you?</mat-slide-toggle>
          </td>
          <td>
            <mat-select placeholder="How?" formControlName="contacttype" required>
              <mat-option *ngFor="let ctype of contacttypes" [value]="ctype">
                {{ ctype }}
              </mat-option>
              <mat-error *ngIf="contactForm.get('contacttype').hasError('required') && contactForm.get('contacttype').touched">ContactType is required.</mat-error>
            </mat-select>
          </td>
          </table>
        <p>
          <mat-form-field class="full-width">
            <textarea matInput formControlName="message" placeholder="Your Feedback" rows=5></textarea>
            <mat-error *ngIf="contactForm.get('message').hasError('required') && contactForm.get('message').touched">Message is required.</mat-error>
          </mat-form-field>
        </p>
        <button type="submit" mat-button class="background-primary text-floral-white" [disabled]="contactForm.invalid">Submit</button>
      </form>
    </div>  
</div>