<mat-toolbar class="login-toolbar" color="primary">
    <span>Login</span>
    <button mat-button mat-dialog-close>&times;</button>
</mat-toolbar>
<mat-dialog-content>
  <form novalidate (ngSubmit)="onSubmit()" #loginForm="ngForm" class="full-width">
    <mat-form-field>
      <input type="text" class="half-width" matInput [(ngModel)]="user.username" #username="ngModel" name="username" placeholder="Username" required>
      <mat-error *ngIf="username.invalid">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" class="half-width" matInput [(ngModel)]="user.password" #password="ngModel" name="password" placeholder="password" minlength="6" required>
      <mat-error *ngIf="password.errors?.required">Password is required</mat-error>
      <mat-error *ngIf="password.errors?.minlength">Password must be atleast 6 characters.</mat-error>
    </mat-form-field>
    <button mat-button type="submit" [disabled]="loginForm.invalid"color="primary">Submit</button>
  </form>
</mat-dialog-content>