<mat-toolbar class="toolbar">
  <div>
    <span><img src="/assets/images/logo.png" alt="Logo" width="50" height="40"></span>
    <span> Ristorante Con Fusion</span>
    <a routerLink="/home" routerLinkActive="active" mat-button class="nav-item"><i class="fa fa-home"></i> Home</a>
    <a routerLink="/menu" routerLinkActive="active" mat-button class="nav-item"><i class="fa fa-bars"></i> Menu</a>
    <a routerLink="/about" routerLinkActive="active" mat-button class="nav-item"><i class="fa fa-info"></i> About</a>
    <a routerLink="/contact" routerLinkActive="active" mat-button class="nav-item"><i class="fa fa-vcard"> Contact</i></a>
    <a href="https://www.google.com" mat-button class="nav-item"><i class="fa fa-google"> Google</i></a>
  </div>
  <div>
    <a mat-button class="nav-item" (click)="openLoginForm()"><i class="fa fa-sign-in"></i> Login</a>
  </div>

</mat-toolbar>
<div class="container jumbotron"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.sm="start center"
fxLayoutAlign.xs="start center"
fxLayoutAlign="center center"
fxLayoutGap="10px">

  <div fxFlex fxFlex.gt-sm="50%">
    <h1>Ristorante Con Fusion</h1>
    <p>We take inspiration from the World's best cuisines, and create a unique fusion experience. Our lipsmacking creations
        will tickle your culinary senses!</p>
  </div>

  <div fxFlex fxFlex.gt-sm="20%">
    <img src="/assets/images/logo.png" alt="Logo">
  </div>
  <div fxFlex></div>
</div>